<div class="body-dash overflow-y-auto overflow-x-hidden">
  <h1 class="my-3 font-medium text-gray-600 text-2xl">Fruits</h1>

  <div class="mt-5">
    <button
      type="button"
      class="btn add text-white font-medium rounded-lg px-5 py-2.5 me-2 mb-2"
    >
      Ajouter
    </button>
  </div>

  <div class="relative overflow-x-auto py-3">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border shadow-lg rounded"
    >
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">Nom</th>
          <th scope="col" class="px-6 py-3">Catégorie</th>
          <th scope="col" class="px-6 py-3">Description</th>
          <th scope="col" class="px-6 py-3">Prix</th>
          <th scope="col" class="px-6 py-3">Disponible</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Nature
          </th>

          <td class="status px-6 py-4">Crémeux</td>
          <td class="status px-6 py-4">Gourmet sans sucre</td>
          <td class="status px-6 py-4">600</td>
          <td class="status px-6 py-4">Disponible</td>
          <td class="px-6 py-4">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2"
              >Modifier</a
            >
            <a
              href="#"
              class="font-medium text-red-600 dark:text-red-500 hover:underline"
              >Supprimer</a
            >
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Simple
        </th>

        <td class="status px-6 py-4">Crémeux</td>
        <td class="status px-6 py-4">Gourmet avec sucre</td>
        <td class="status px-6 py-4">600</td>
        <td class="status px-6 py-4">Disponible</td>
          <td class="px-6 py-4">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2"
              >Modifier</a
            >
            <a
              href="#"
              class="font-medium text-red-600 dark:text-red-500 hover:underline"
              >Supprimer</a
            >
          </td>
        </tr>

        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Céréales
          </th>

          <td class="status px-6 py-4">Crémeux</td>
          <td class="status px-6 py-4">Gourmet avec céréales</td>
          <td class="status px-6 py-4">1000</td>
          <td class="status px-6 py-4">Disponible</td>

          <td class="px-6 py-4">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2"
              >Modifier</a
            >
            <a
              href="#"
              class="font-medium text-red-600 dark:text-red-500 hover:underline"
              >Supprimer</a
            >
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Bissap
        </th>

        <td class="status px-6 py-4">Liquide</td>
        <td class="status px-6 py-4">Gourmet liquide à l'hibiscus</td>
        <td class="status px-6 py-4">2500</td>
        <td class="status px-6 py-4">Disponible</td>

          <td class="px-6 py-4">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2"
              >Modifier</a
            >
            <a
              href="#"
              class="font-medium text-red-600 dark:text-red-500 hover:underline"
              >Supprimer</a
            >
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Mil
        </th>

        <td class="status px-6 py-4">Liquide</td>
        <td class="status px-6 py-4">Gourmet liquide au mil</td>
        <td class="status px-6 py-4">2500</td>
        <td class="status px-6 py-4">Disponible</td>

          <td class="px-6 py-4">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2"
              >Modifier</a
            >
            <a
              href="#"
              class="font-medium text-red-600 dark:text-red-500 hover:underline"
              >Supprimer</a
            >
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Couscous
          </th>

          <td class="status px-6 py-4">Liquide</td>
          <td class="status px-6 py-4">Gourmet liquide au couscous</td>
          <td class="status px-6 py-4">2500</td>
          <td class="status px-6 py-4">Disponible</td>

          <td class="px-6 py-4">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2"
              >Modifier</a
            >
            <a
              href="#"
              class="font-medium text-red-600 dark:text-red-500 hover:underline"
              >Supprimer</a
            >
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Vanille
          </th>

          <td class="status px-6 py-4">Liquide</td>
          <td class="status px-6 py-4">Gourmet liquide à la vanille</td>
          <td class="status px-6 py-4">2500</td>
          <td class="status px-6 py-4">Disponible</td>


          <td class="px-6 py-4">
              <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2">Modifier</a>
              <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">Supprimer</a>
          </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Coco
        </th>

        <td class="status px-6 py-4">Liquide</td>
        <td class="status px-6 py-4">Gourmet liquide au coco</td>
        <td class="status px-6 py-4">3000</td>
        <td class="status px-6 py-4">Bientôt disponible</td>


        <td class="px-6 py-4">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2">Modifier</a>
            <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">Supprimer</a>
        </td>
    </tr>
      </tbody>
    </table>
  </div>
</div>
