<div class="container" id="contact">
  <div class="contact-section bg-white rounded shadow-lg">
      <h1 class="font-bold principal highlight-text highlight-section w-full text-center mb-5">Contactez-nous</h1>

      <div class="contact-option">
          <h2>WhatsApp</h2>
          <p>Envoyez-nous un message instantané pour une réponse rapide !</p>
          <a href="https://wa.me/24106610304" target="_blank" class="button">Nous contacter sur WhatsApp</a>
      </div>

      <div class="contact-option">
          <h2>Appelez-nous</h2>
          <p>Vous préférez nous parler directement ? N'hésitez pas à nous appeler !</p>
          <p>Numéro de téléphone : <a href="tel:+24106610304">06 61 03 04</a></p>
          <a href="tel:+24106610304" class="button">Nous appeler maintenant</a>
      </div>
  </div>
</div>
