<div class="body-dash overflow-y-auto overflow-x-hidden">
  <h1 class="my-3 font-medium text-gray-600 text-2xl">Tailles</h1>

  <div class="mt-5">
    <button
      (click)="toggleFormAdd()"
      class="add text-white font-bold py-2 px-4 rounded"
    >
      {{ isFormAddVisible ? "Annuler" : "Ajouter" }}
    </button>
  </div>

  <div class="relative overflow-x-auto py-3">
    <form
      *ngIf="isFormAddVisible"
      class="border shadow-lg bg-white rounded px-8 pt-6 pb-8 mb-4"
    >
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="nom">
          Nom
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="nom"
          type="text"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="prix">
          Prix
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="prix"
          type="text"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="prix">
          Nombre de fruits
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="fruit"
          type="number"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="fruit">
          Nombre de sauces
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="prix"
          type="number"
        />
      </div>

      <div class="flex bg-white py-2">
        <div class="flex items-center justify-between me-2">
          <button class="add text-white font-bold py-2 px-4 rounded">
            Ajouter
          </button>
        </div>
      </div>
    </form>

    <form
      *ngIf="isFormUpdateVisible"
      class="border shadow-lg bg-white rounded px-8 pt-6 pb-8 mb-4"
    >
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="nom">
          Nom
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="nom"
          type="text"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="prix">
          Prix
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="prix"
          type="text"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="prix">
          Nombre de fruits
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="fruit"
          type="number"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="fruit">
          Nombre de sauces
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="prix"
          type="number"
        />
      </div>

      <div class="flex bg-white py-2">
        <div class="flex items-center justify-between me-2">
          <button class="add text-white font-bold py-2 px-4 rounded">
            Modifier
          </button>
        </div>

        <button
          (click)="toggleFormUpdate()"
          class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
        >
          Annuler
        </button>
      </div>
    </form>
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border shadow-lg rounded"
    >
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">Nom</th>
          <th scope="col" class="px-6 py-3">Nombre de fruits</th>
          <th scope="col" class="px-6 py-3">Nombre de sauces</th>
          <th scope="col" class="px-6 py-3">Prix</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Moyen
          </th>

          <td class="status px-6 py-4">1</td>
          <td class="status px-6 py-4">1</td>
          <td class="status px-6 py-4">2500</td>
          <td class="px-6 py-4">
            <button (click)="toggleFormUpdate()"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2"
              >Modifier</button
            >
            <button
              class="font-medium text-red-600 dark:text-red-500 hover:underline"
              >Supprimer</button
            >
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Maxi
        </th>

        <td class="status px-6 py-4">2</td>
        <td class="status px-6 py-4">2</td>
        <td class="status px-6 py-4">3500</td>
          <td class="px-6 py-4">
            <button (click)="toggleFormUpdate()"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2"
              >Modifier</button
            >
            <button
              class="font-medium text-red-600 dark:text-red-500 hover:underline"
              >Supprimer</button
            >
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
