<div class="body-dash overflow-y-auto overflow-x-hidden">
  <h1 class="my-3 font-medium text-gray-600 text-2xl">Commandes</h1>


  <div class="relative overflow-x-auto py-3">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border shadow-lg rounded"
    >
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">Client</th>
          <th scope="col" class="px-6 py-3">Adresse</th>
          <th scope="col" class="px-6 py-3">Statut</th>

          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Gloria
          </th>

          <td class="px-6 py-4">Kalikak</td>
          <td class="status status-processing">En cours</td>

          <td class="px-6 py-4">
            <a
              href="#"
              class="font-medium text-red-600 dark:text-red-500 hover:underline"
              >Annuler</a
            >
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Ines
          </th>

          <td class="px-6 py-4">Angodjé</td>
          <td class="px-6 py-4 status status-completed">Terminé</td>


        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Lorna
          </th>

          <td class="px-6 py-4">Owendo</td>
          <td class="px-6 py-4 status status-cancelled">Annulée</td>


        </tr>
      </tbody>
    </table>
  </div>
</div>
