<div class="bg">
  <div class="flex flex-col mb-10 md:flex-row items-center header " id="accueil">
    <div class=" text-header-droit text-left py-4 px-5">
      <div
        class="principal font-semibold titre-header"
      >
        <h1><span class="highlight-text whitespace-nowrap">Petit Déjeuner</span></h1>
        <h1><span class="highlight-text ">Collation</span></h1>
        <h1><span class="highlight-text">Dessert</span></h1>
      </div>
      <p class="text-gray-700 text-justify para-header">
        Découvrez notre gamme exquise de yaourts gourmets, parfaits pour tous les moments de la journée. Du petit-déjeuner revigorant à la collation légère, en passant par le dessert raffiné, nos yaourts artisanaux sauront ravir vos papilles.  <!-- Élaborés avec soin à partir d'ingrédients de qualité, nos créations offrent une expérience gustative unique, alliant santé et plaisir.-->
      </p>
    </div>
    <div class="div-img-header md:w-1/2 flex justify-center md:justify-end p-4">
      <img
        [ngSrc]="headerUrl"
        alt="Logo Milna Gourmet"
        width="200"
        height="200"
        priority
        class="w-1/2 sm:w-1/3 md:w-1/2 lg:w-1/3"
      />
    </div>

  </div>
</div>
