@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*:not(i){
  font-family: "Jost";
  box-sizing: border-box;

}

.bg{
  background: #EEEFF1;
}
.principal{
  color: #34aeb3;
}

.secondaire{
  color: #06c1ca;
}
.btn-register{
  background: #34aeb3;
}

.btn-register:hover{
  background: #06c1ca;
}

#compteDropdown li a{
  color: rgba(0, 0, 0, 0.462);
  font-weight: 400;
}

#compteDropdown li:hover{
  background: #06c0ca17;
}
#compteDropdown li a:hover{
  color: #06c1ca;
}

.titre-header h1 span{
  font-size: 4vw;
}

/* Animation styles */
.highlight-text {
  position: relative;
  overflow: hidden;
  display: inline-block;

}
.highlight-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;

  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
  animation: highlight 2s linear infinite;
}
@keyframes highlight {
  0% {
      left: -100%;
  }
  100% {
      left: 100%;
  }
}

.highlight-text + p{

  color: rgb(107 114 128 / var(--tw-text-opacity));


}
.highlight-section{
  font-size: 2.4vw; //5
}
@media screen and (max-width:767px) {
  .highlight-text + p{
    font-size: 3.5vw;

  }
  .highlight-section{
    font-size: 6vw;
  }

  .titre-header{
    font-size: 4vw;

  }
}

.box
{
  width: 70%;
  margin: 20px auto;
}

@media screen and (max-width:768px){

  .box{
    width: 75%;
  }
}

@media screen and (max-width:480px){

  .box{
    width: 100%;
  }
}


.box-section:not(#liquide, #creation){
  margin: 5rem 0;
}

@media screen and (max-width:767px) {
  .box-section:not(#liquide){
    margin-bottom: 3rem;
  }
  .form{
    width: 100%;
  }


}
@media screen and (min-width:768px) {

  .form{
    width: 50%;
  }
}



.modalProfil {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  background: rgba(000, 000, 000, 0.1);
}

@media screen and (max-width:767px) {

  .modalProfil {
    width: 100%;
  }

}

.scroll-up-btn {
  display: block;
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #06c0ca;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-up-btn:hover {
  background-color: rgba(6, 192, 202, 0.977);
}


.gourmet-section{
  margin:4.5% 0;
}

.btn-modal
{
  color: #06c0ca;
  top: 5%;
  right: 5%;
  border: solid 1px #06c0ca;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-modal:hover
{
  color: #34aeb3;
}


body::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #06c0ca; /* color of the scroll thumb */
  border-radius: 20px;
}
