<div class="body-dash overflow-y-auto overflow-x-hidden">
  <h1 class="my-3 font-medium text-gray-600 text-2xl">
    Catégories
  </h1>

<div class="mt-5">
  <button type="button" class="btn add text-white font-medium rounded-lg px-5 py-2.5 me-2 mb-2 ">Ajouter</button>

</div>

<div class="relative overflow-x-auto py-3">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border  shadow-lg rounded">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Nom
              </th>

              <th scope="col" class="px-6 py-3">
                  Action
              </th>

          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Crémeux
              </th>

              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2">Modifier</a>
                  <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">Supprimer</a>
              </td>
          </tr>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Liquide
            </th>


            <td class="px-6 py-4">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2">Modifier</a>
                <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">Supprimer</a>
            </td>
        </tr>

        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Création
          </th>


          <td class="px-6 py-4">
              <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2">Modifier</a>
              <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">Supprimer</a>
          </td>
      </tr>
      </tbody>
  </table>
</div>


</div>
