<app-bar></app-bar>
<div class="body-dash overflow-y-auto overflow-x-hidden">
  <h1 class="my-3 font-medium text-gray-600 text-2xl">
    Tableau de Bord - Milna Gourmet
  </h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 p-4">
    <div class="shadow-lg rounded bg-blue-500 text-white">
      <h2 class="font-medium text-md px-5 pt-5">Total Inscrit</h2>
      <hr class="my-2 border-blue-300">
      <p class="px-5 pb-5 font-medium text-2xl">1000</p>
    </div>

    <div class="shadow-lg rounded bg-indigo-500 text-white">
      <h2 class="font-medium text-md px-5 pt-5">Total Commande</h2>
      <hr class="my-2 border-indigo-300">
      <p class="px-5 pb-5 font-medium text-2xl">2000</p>
    </div>

    <div class="shadow-lg rounded bg-purple-500 text-white">
      <h2 class="font-medium text-md px-5 pt-5">Total Commande Validée</h2>
      <hr class="my-2 border-purple-300">
      <p class="px-5 pb-5 font-medium text-2xl">1500</p>
    </div>

    <div class="shadow-lg rounded bg-pink-500 text-white">
      <h2 class="font-medium text-md px-5 pt-5">Total Commande Annulée</h2>
      <hr class="my-2 border-pink-300">
      <p class="px-5 pb-5 font-medium text-2xl">500</p>
    </div>

    <div class="shadow-lg rounded bg-teal-500 text-white">
      <h2 class="font-medium text-md px-5 pt-5">CA Total</h2>
      <hr class="my-2 border-teal-300">
      <p class="px-5 pb-5 font-medium text-2xl">2000</p>
    </div>
  </div>


  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 p-4">
    <div class="shadow-lg rounded p-5 w-full">
      <h2 class="font-medium text-md ">Aperçu des Commandes</h2>

      <p>Grapique en bâton</p>
    </div>

    <div class="shadow-lg rounded p-5 w-full">
      <h2 class="font-medium text-md ">
        Gourmets les plus commandés
      </h2>

      <p>Graphique à barres empilées,</p>
    </div>
  </div>
</div>
