<footer class="bg shadow mt-14">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <img
        [ngSrc]="logoUrl"
        alt="Logo Milna Gourmet"
        width="100"
        height="100"
      />
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
      >
        <li>
          <a href="https://lordicon.com/">Icons by Lordicon.com</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 text-center dark:text-gray-400"
      >© 2024 Milna Gourmet. développé par <a href="https://portfolio-a72a6.web.app/" target="_blank" class="underline">Paul Émile</a>.</span
    >
  </div>
</footer>
